body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* Custom Colors */
:root {
  --main-blue-color: #396ee5; /* Green */
  --light-blue-color: #e6ecfe; /* Orange */
  
  --main-green-color: #169158; /* Green */
  --light-green-color: #e6feed; /* Orange */

  --custom-heading-color: #673AB7; /* Deep Purple */
}

.bg-main-blue{
  background-color: var( --main-blue-color);
}
.bg-light-blue{
  background-color: var( --light-blue-color);
}
.bg-main-green{
  background-color: var( --main-green-color);
}
.bg-light-green{
  background-color: var( --light-green-color);
}

